@media (max-width: 1200px) {
    .container {
        max-width: 992;
    }

    header .menu {
        margin: 0 auto;
    }

    .main {
        display: flex;
        justify-content: center;
    }

    .main .cards {
        flex-direction: column;
        flex-wrap: wrap;
        width: 75%;
    }

    .cards .card1 {
        margin-bottom: 15px;
    }

    .cards .card2 {
        margin-bottom: 15px;
    }

    .cards .card3 {
        margin-bottom: 15px;
    }

    .flexx {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .news {
        max-width: 418px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .icon {
        margin: 0 auto;
        max-width: 555px;
        width: 100%;
        object-fit: cover;
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 540px) {
    nav .menu {
        justify-content: space-around;
        margin-top: 20px;
    }

    nav .title {
        font-size: 15px;
        padding: 10px 0;
    }
}